boto3==1.34.13
faiss-cpu
langchain-community
pillow
pillow_heif
requests
fpdf
langchain
langfuse==2.44.1
openai==0.28
scikit-learn
llama-parse
llama-index
python-docx
tiktoken
deep-translator
streamlit
docx2pdf

